<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/app/agente/agenteApp.js"></script>

    <script>

        $('#addModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $('#editModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $('#deleteModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

    </script>

    <title>Agente</title>
</head>
<body ng-app="agenteModule" ng-controller="agenteController">

    <div class="container">

        <h1>Agente</h1>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
            Add
        </button>

        <table class="table table-striped table-hover">

            <thead class="thead-dark">
                <th>Num.</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Opciones</th>
            </thead>

            <tbody>
                <tr ng-repeat="agente in agentes">
                    <td>{{agente.numempleado}}</td>
                    <td>{{agente.nombre}}</td>
                    <td>{{agente.telefono}}</td>

                    <td>
                        <!-- Botón Editar -->
                        <button type="button" class="btn btn-warning" ng-click="selectEdit(agente)" data-toggle="modal" data-target="#editModal">
                            Edit
                        </button>

                        <!-- Botón Remover -->
                        <button type="button" class="btn btn-danger" ng-click="selectEdit(agente)" data-toggle="modal" data-target="#deleteModal">
                            Delete
                        </button>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Num. Empleado</label>
                            <input type="text" class="form-control" ng-model="agente.numempleado">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Nombre</label>
                            <input type="text" class="form-control" ng-model="agente.nombre">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Telefono</label>
                            <input type="text" class="form-control" ng-model="agente.telefono">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" ng-click="add(agente)" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Edit -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">Num. Empleado</label>
                            <input type="text" class="form-control" ng-model="agente.numempleado">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Nombre</label>
                            <input type="text" class="form-control" ng-model="agente.nombre">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Telefono</label>
                            <input type="text" class="form-control" ng-model="agente.telefono">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" ng-click="edit(agente)" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{agente.nombre}}
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" ng-click="delete(agente)" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</body>
</html>